* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 183, 255);

}

.button-blue {
    padding: 20px;
    background: blue;
    font-size: 14px;
    color: aliceblue;
}
