.continue-lendo {
  display: flex;
  padding: 0 0 32px 10px;
  flex-direction: column;
}

.section-title-continue-lendo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 32px 0;
  color: var(--color-blue-dark);
}

.section-title i {
  font-size: 24px;
  color: var(--color-yellow);
}

.container-continue-lendo {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; 
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.carousel-continue-lendo {
  display: flex;
  color: var(--color-yellow);
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: 0 -16px;
  padding-bottom: 16px;
  width: 250px;
  height: 150px;
}

.carousel-continue-lendo::-webkit-scrollbar {
  display: none;
}

.item-continue-lendo {
  background-color: var(--color-white);
  margin: 0 16px; 
  width: calc(25% - 32px);
  border-radius: 16px;
  display: flex;
  box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}
.texto-icon {
  display: flex;
  align-items: center;
  padding-left: 4px;
}

.imagem-continue-lendo img {
  object-fit: cover;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
  width: 80px;
  height: 100%;
}

.bh-continue-lendo {
  color: var(--color-blue-dark);
  position: absolute;
  bottom: 5px;
  right: 0;
}


.name-continue-lendo {
  margin: 10px 0;
  color: var(--color-yellow);
}


.voltar-passar-continue-lendo {
  width: 100%;
  text-align: center;
}

.voltar-passar-continue-lendo i {
  cursor: pointer;
  padding: 16px;
  color: var(--color-blue-dark);
}

@media (min-width: 600px) {
  .carousel-continue-lendo {
    width: 450px;
    height: auto;
  }
  
}
@media (min-width: 1024px) {
  .carousel-continue-lendo {
    width: 650px;
    height: auto;
  }
  .continue-lendo {
    padding: 0 0 32px 64px;
  }
  
}
@media (min-width: 1400px) {
  .continue-lendo {
    padding: 0 0 32px 64px;
  }
  .carousel-continue-lendo {
    width: 900px;
    height: auto;
  }
  
}
@media (min-width: 1600px) {
  .continue-lendo {
    padding: 0 0 32px 64px;
  }
  .carousel-continue-lendo {
    width: 1200px;
    height: auto;
  }
  
}
