.continue-lendo {
  background: var(--color-white);
  color: var(--color-blue-dark);
  padding: 32px 0;
  padding-left: 10px;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 32px 0;
}
.section-title i {
  font-size: 24px;
}
.box {
  width: 220px;
  border-radius: 8px;
  background-image: #ffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.box-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imagem-continue-lendo {
  width: 80px;
}
.imagem-continue-lendo img {
  width: 100%;
  height: 100%;
  border-radius: 8px 0 0 8px;
}
.texto-continue-lendo {
  padding-right: 18px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-greey);
    cursor: pointer;    
}

@media (min-width: 900px) {
  .continue-lendo {
    padding-left: 64px;
  }
}
