.pre-leitura-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  

  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


  .sinopse {
    font-weight: bold;
    margin-bottom: 10px;
  }
    
  .autor {
    font-style: italic;
  }
  
  .genero {
    color: #007bff;
  }
  
