.container-leitor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leitor {
    position: relative;
    min-height: 80vh; /* Isso garante que o conteúdo estenda a altura da janela de visualização. */
    overflow-y: auto;
}

.pequeno{
    height: 80vh;
}

.medio{
    height: 100vh;
} 

.grande{
    height: 140vh;
}

.super-grande{
    height: 180vh;
}

.menu-leitor-fixado {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-greey); 
    text-align: center; 
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2); 

}

.menu-leitor-botoes{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 400px;
}

.menu-leitor-botoes button{
    background-color: var(--color-blue-dark);
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px 5px 0 5px;
}

.menu-leitor-fixado i{
    font-size: 12px;
}

#inicio{
    background-color: transparent;
    border: none;
    background-color: transparent;
    color: #414344;
    text-decoration: underline;
    margin: 10px
}

#contador{
    color: #414344;
    margin: 10px;
    font-size: 14px;
}