aside figure {
    display: flex;
    align-items: center;
    gap: 8px;
}
aside figure p {
    font-size: 24px;
    color: #031881;
}

aside nav figure {
    width: 10px;
}
aside .aside-text {
    color: #B2B6B9;
}

.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #B2B6B9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Efeito de sombra */
    transition: all 0.35s ease-in;
    background: #f5f5f5;

}

.sidebar header {
    display: flex;
    position: fixed;
}

#nav-list-sidebar{
    padding-top: 256px;
    display: flex;
    flex-direction: column;
}
#nav-list-sidebar p{
    padding-top: 8px;
    font-size: 12px;
}
#nav-list-sidebar li{
    margin: 8px 0;
}

#logo-aside {
    width: 100px;
}

@media (max-width: 480px) {
    .sidebar {
        display: none;
    }

}

@media (max-width: 920px) {
    .sidebar {
        width: 160px;
    }

    #nav-list-sidebar p{
        font-size: 10px;
    }

    .sidebar nav > ul > li {
        font-size: 12px;
    }
    #logo-aside {
        width: 70px;
    } 
    aside figure p {
        font-size: 14px;
    }

}
