#favorite-list figure img {
    width: 100px;
}

#favorite-list{
    background: #ECF0F2;
    padding: 32px 0;
}

#favorite-list div > div {
    padding-top: 32px;
    gap: 20px;
}

#favorite-list a {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 8px;
    font-weight: 400;
}

#favorite-list .container {
    position: relative;
}
