footer {
    background: #031881;

}

footer div {
    padding: 20px;
    gap: 10px;
}
footer div p {
    letter-spacing: .1rem;
}

footer div figure img {
    width: 80px;
}

@media (min-width: 480px) {
    footer div {
        padding: 20px;
        gap: 10px;
        margin-left: 160px;
    }
    footer div figure img {
        width: 100px;
    }
}


@media (min-width: 920px) {
    footer div {
        padding: 20px;
        gap: 10px;
        margin-left: 240px;
    }
    footer div figure img {
        width: 120px;
    }
}