header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-bottom: 0.5px solid rgba(255, 243, 228, 0.25);
    background: #031881;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header div figure img {
    width: 100px;
}

header figure {
    color: #FFF3E4;
    display: flex;
    align-items: center;
    gap: 8px;
}
header figure p {
    font-size: 14px;
}

.navbar a {
    color: #FFF3E4;
    font-size: 1rem;
    margin-left: 1rem;
}

.bx-chevron-down {
    font-size: 20px;
}

.mobile-menu {
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
#logo-header {
  width: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

@media (min-width: 480px) {
    header > div {
        margin-left: 160px;
    }
    .mobile-menu {
        display: none;
    }
    header figure {
        display: none;
    }
}


@media (min-width: 920px) {
    header > div{
        margin-left: 240px;
    }
    .mobile-menu {
        display: none;
    }
    header figure {
        display: none;
    }
}
