.colummn {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.gap-10{
    gap: 10px;
}

.container {
    max-width: 1540px;
    margin: 0 auto;
    padding: 0px 10px;
  }

.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}

.row-colummn {
    flex-direction: row;
}


/* Laptop */
@media (min-width: 600px) {
    /* title-1 */
h1 {
    font-size: 18px;
}
}

/* Notebook */
@media (min-width: 1024px) {
    
}

/* Desktop */
@media (min-width: 1440px) {
    
}