.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.flex {
    display: flex;
}

.container {
    max-width: 1440px;
}

.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}

.center {
    align-items: center;
}
