 nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  height: 5vh;
}
a {
  color: #FFF3E4;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}
.icon {
  color: #B2B6B9;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
.nav-text {
  display: none;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #B2B6B9;
  margin: 8px;
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);
}

@media (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #031881;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
    display: flex;
  }
  .nav-list p {
    margin-top: 32px;
  }
  .nav-list li {
    margin-top: 24px;
  }
  .mobile-menu {
    display: block;
  }
  .nav-text {
      display: flex;
    }
}


@media (min-width: 920px) {
  #nav-list{
    display: none;
  }
  #mobile-menu {
    display: none;
    cursor: pointer;
  }
  
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

