@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Libre Baskerville", serif;
  color: #fdfdfd;
}

/* title-1 */
h1 {
  font-size: 22px;
  font-weight: 100;
  border-bottom: 1px solid #fdfdfd;
}

/* subtitle-1 */
h2 {
  font-size: 18px;
  font-weight: 400;
}

/* sub-subtitle-1 */
h3 {
  font-size: 16px;
  font-weight: 400;
}

/* title-2 */
h4 {
  font-size: 14px;
  font-weight: 700;
}

/* subtitle-2 */
h5 {
  font-size: 12px;
  font-weight: 700;
}

/* paragraph */
p {
  font-size: 8px;
  font-weight: 400;
}

.icon {
  font-size: 2rem;
  color: #b2b6b9;
  /* display: none; */
}

.yellow-light {
  color: #e6b33d;
}
.blue-dark {
  color: #031881;
  border-bottom: 1px solid #031881;
}

.red-dark {
  color: #995052;
}

@media (min-width: 480px) {
  /* title-1 */
  h1 {
    font-size: 24px;
  }

  /* subtitle-1 */
  h2 {
    font-size: 20px;
  }

  /* sub-subtitle-1 */
  h3 {
    font-size: 18px;
  }

  /* title-2 */
  h4 {
    font-size: 16px;
  }

  /* subtitle-2 */
  h5 {
    font-size: 14px;
  }

  /* paragraph */
  p {
    font-size: 10px;
  }
}

@media (min-width: 920px) {
     /* title-1 */
  h1 {
    font-size: 26px;
  }

  /* subtitle-1 */
  h2 {
    font-size: 22px;
  }

  /* sub-subtitle-1 */
  h3 {
    font-size: 20px;
  }

  /* title-2 */
  h4 {
    font-size: 18px;
  }

  /* subtitle-2 */
  h5 {
    font-size: 16px;
  }

  /* paragraph */
  p {
    font-size: 10px;
  }
}
