header {
  display: flex;
  align-items: center;
  background: var(--color-blue-dark);
  padding: 24px 10px;
  justify-content: space-between;
}

header .nav-menu,
.nav-search,
.nav-user {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.8rem;
}

i {
  font-size: 30px;
}

.logo-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

header div img {
  width: 30px;
}

header div h6 {
  font-size: 12px;
}

.pesquisar-livro {
  display: none;
}

.usuario {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 0;
}

.usuario i {
  font-size: 10px;
  cursor: pointer;
}
.usuario span {
  font-size: 10px;
}


@media (min-width: 900px) {

  header {
    padding: 24px 32px 24px 64px;
  }
  .logo-header, .nav-menu, .nav-search {
    display: none;
  }

  .pesquisar-livro {
    display: flex;
    gap: 4px;
    width: 50%;
    border-radius: 8px;
    background: none;
    padding: 7px 20px 7px 20px;
    border: 1px solid #b4dcf6;
    transition: ease-in .3s;
  }

  .usuario {
    margin-right: 32px;
  }
  
  .campo {
    color: var(--color-white);
    width: 100%;
    background: none;
    border: none;
    outline: none;
  }
}
