
nav{
    height: 100vh;
    width: 100%;
    background-color: #091A62;
    color: var(--text-color-greey);
    position: fixed;
    left: -100vw;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    padding: 64px 0 0 10px;
}

nav.show{
    transform: translateX(100vw);
}

nav .nav-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

nav .nav-btn {
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1.8rem;
}


@media (min-width:768px) {
  
    nav{
      position: static;
      width: 20vw;
    }
  
    button{
      display: none;
    }
  
    nav.show{
      transform: none;
    }
  }
