nav {
  width: 240px;
  box-shadow: 2px 0 0 rgba(0, 0, 0, 0.5);
  background: #ffff;
  color: var(--text-color-greey);
  position: fixed;
  left: -100vw;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  padding: 64px 0 0 10px;
  height: 100%;
}

nav.show {
  transform: translateX(100vw);
  width: 100%;
  z-index: 999;
  background: var(--color-blue-dark);
}

nav .nav-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

nav .nav-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.8rem;
  
}

nav h6,
a {
  color: var(--color-greey);
  font-size: 13px;
  padding-left: 8px;
}

nav i {
  font-size: 18px;
  padding-right: 8px;
}
nav div {
  display: flex;
}
nav div img {
  width: 50px;
}
nav div h6 {
  font-size: 24px;
}

.logo-navbar {
  display: none;
}

@media (min-width: 900px) {
  nav {
    position: static;
    padding-top: 32px;
  }

  nav.show {
    transform: none;
  }
  .logo-navbar {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  nav .nav-btn {
    display: none;
  }
}

@media (min-width: 1024px) {
  nav .nav-btn {
    display: none;
  }
}
@media (min-width: 1600px) {
  nav .nav-btn {
    display: none;
  }
}
