/* main{
  width: 100vw;
  height: 100vh;
  background-color: aqua;
} */

/* nav{
  height: 100vh;
  width: 20vw;
  background-color: blue;
  position: fixed;
  left: -20vw;
} */

/* nav.show{
  transform: translateX(20vw);
} */

/* header{
  background-color: blueviolet;
} */

/* @media (min-width:1024px) {
  main{
    width: 80vw;
  }

  nav{
    position: static;

  }

  button{
    display: none;
  }

  nav.show{
    transform: none;
  }
} */

.App {
  display: flex;
}
