@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Libre Baskerville", serif;
  color: #fdfdfd;
}

button {
  color: var(--text-color-greey);
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --text-color-greey: #b2b6b9;
}
/* title-1 */
h1 {
  font-size: 22px;
  font-weight: 100;
  border-bottom: 1px solid #fdfdfd;
}

/* subtitle-1 */
h2 {
  font-size: 18px;
  font-weight: 400;
}

/* sub-subtitle-1 */
h3 {
  font-size: 16px;
  font-weight: 400;
}

/* title-2 */
h4 {
  font-size: 14px;
  font-weight: 700;
}

/* subtitle-2 */
h5 {
  font-size: 12px;
  font-weight: 700;
}
/* sub-subtitle-2 */
h6 {
  font-size: 10px;
  font-weight: 100;
}

/* paragraph */
p {
  font-size: 7px;
  font-weight: 400;
}
