* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* Estilizar a barra de rolagem */
::-webkit-scrollbar {
  width: 6px;
  /* Largura da barra de rolagem vertical */
  height: 6px;
  /* Altura da barra de rolagem horizontal */
  margin-left: 12px;
  display: block !important;
}

/* Estilizar o botão (alça) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #E6B33D;
  /* Cor de fundo da alça da barra de rolagem */
  border-radius: 6px;
  /* Raio das bordas da alça */
}

/* Estilizar a trilha (fundamento) da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #ffffff;
  /* Cor de fundo da trilha */
}