:root{
    --light-gray: #ECF0F2;
    --gray: #B2B6B9;
    --dark-gray: #505961;
    --dark-blue: #091A62;
}

header{
    background-color: var(--light-gray);
}

header .icon{
    color: var(--dark-blue);
    font-size: 1.5rem;
}

header .centralizar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header nav .gray{
    color:var(--gray);
}

.size-12{
    font-size: 12px;
}

main{
    background-color: var(--gray);
    margin: 0px;
    font-size: 10px;
}

.footer-lendo{
    background-color: var(--gray);
}

.footer-lendo div{
    color:var(--dark-gray);
}

.dark-blue{
    color: var(--dark-blue);
}

.dark-gray{
    color: var(--dark-gray);
}

.underline{
    text-decoration: underline;
}


/* Laptop */
@media (min-width: 600px) {
    /* title-1 */
    .size-12{
        font-size: 20px;
    }

    main{
        font-size: 16px;
    }
}

/* Notebook */
@media (min-width: 1024px) {
    
}

/* Desktop */
@media (min-width: 1440px) {
    
}